.logo {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header {
    text-align: center;
    background: #074E68;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 1rem;
    padding-bottom: 3.9rem;
    margin-bottom: 1.5rem;
}

.header .headline {
    color: #ffe;
}

.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}

.header-subnav li {
    float: none;
    display: inline-block;
}

.header-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #ffe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
}

.header-subnav li a.is-active {
    background: rgba(250, 250, 250, 0.15);
}

.header-subnav li a:hover {
    background: rgba(250, 250, 250, 0.15);
    transition: all 0.35s ease-in-out;
}

.headname {
    margin-bottom: 0rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background: #e5ecec;
    font-size: 80%;
}

main div {
    background: black;
    color: white;
    padding: 15px;
    max-width: 125px;
    margin: 5px;
}

.inline-block-center {
    text-align: center;
        margin-left: auto;
    margin-right: auto;
}

.inline-block-center div {
    display: inline-block;
    text-align: left;

}


.flex-center {
    display: flex;
    justify-content: center;
}

.answer {
    background-color: #63c783;
    width: 11rem;
    height: 4.2rem;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}

.compare {
    background-color: #8E6C88;

}

.frontcompare {
    width: 16rem;
    height: 4.2rem;
    line-height: 2.1rem;
}

.answer:hover, .answer:focus, .answer:hover, .answer:focus {
    background-color: #3a8351;
}

.compare:hover, .compare:focus, .compare:hover, .compare:focus {
    background-color: #603659;
}

.footer {
    bottom: 0;
    text-align: center;
    width: 100%;
}


