{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% blocktrans %}
        <div class="small-12 columns text-center">
            <p>This is a hackathon project made at <a target="_blank" href="http://digix.eu/loomehakk-vol-2/" title="Loomehäkk">Loomehäkk</a> by Mikk Oad, Tanel Hiob and Lauri Elias.</p>
            <p><h3>Why are you doing this?</h3></p>
            <p>
                <li>fun topic that few dare approach</li>
                <li>we hope to help improve the sex life of at least a few people</li>
            </p>
            <p><h3>Why is Sexquizit better than other similar services?</h3></p>
            <p>
                <li>some other websites have questions on PDFs that you have to print, we are digitalized</li>
                <li>many alternatives only have a yes/no option, we have three choices to leave room for discussion</li>
                <li>we are modern, mobile friendly and scalable</li>
            </p>
            <p><h3>Where are you heading?</h3></p>
            <p>
                <li>at a high enough usage level we could start analyzing trends</li>
                <li>we can use neural networks to predict what you might like more than you think</li>
            </p>
            <p><h3>How are you going to make money?</h3></p>
            <p>
                <li>sell the idea for 500 € and let somebody else worry about it</li>
                <li>earn enough to cover hosting via ads</li>
            </p>
            <p><h3>How private is this?</h3></p>
            <p>
                <li>we currently only use Google Analytics, you can use Incognito, Adblock and/or Tor if you're worried</li>
            </p>
        </div>
    {% endblocktrans %}
{% endblock %}