{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {#{% for ac in activity_categories.all %}#}
    {#    <p><b>{{ ac.description }}</b></p>#}
    {#    {% for a in ac.activities.all %}#}
    {#        {% if a.shown_for_gender in allowed_genders %}#}
    {#            <p>{{ a.description }}</p>#}
    {#        {% endif %}#}
    {#    {% endfor %}#}
    {#{% endfor %}#}
    <form method="POST" action="">
        {% csrf_token %}
        {% for category in categories %}
            <p><b>{{ category }}</b></p>
            {% for field in form %}
                {% if field.field.widget.attrs.category == category and field.field.widget.attrs.gender in allowed_genders %}
                    <label>{{ field.label }}</label>
                    {{ field }}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </form>
{% endblock %}