{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <form id="generate-link">

        <div class="row mainrow">
            <div class="large-4 columns">
                <input autocomplete="off" type="text" id="pk1" placeholder="Your Key"
                       value="{% if pk1 %}{{ pk1 }}{% endif %}"/>
            </div>
            <div class="large-4 columns">
                <input autocomplete="off" type="text" id="pk2" placeholder="Your Partner Key"
                       value="{% if pk2 %}{{ pk2 }}{% endif %}"/>
            </div>
            <div class="large-4 columns">
                <button class="compare" type="submit">Ok</button>
            </div>

        </div>
    </form>

    <script>
        $(document).ready(function () {
            $("#generate-link").submit(function (e) {
            	var pk1 = $("#pk1").val();
            	var pk2 = $("#pk2").val();

            	if (pk1 == null && pk2 == null) {
            		return;
            	}

            	var url = "/compare";
            	if (pk1) {
            		url += "/" + encodeURIComponent(pk1);
            	}
            	if (pk2) {
            		url += "/" + encodeURIComponent(pk2);
            	}

            	window.location = url;

                e.preventDefault();
            });
        });
    </script>


{% if analyze_results != None %}
	test
	<table>
        <thead>
            <tr>
                <td></td>
                <td>{{ pk1 }}</td>
                <td>{{ pk2 }}</td>
            </tr>
        </thead>
        <tbody>


		{% for color, categories in analyze_results.items %}
            {% for category, results in categories.items %}
                <tr style="background-color: {{ color }};">
                    <td>{{category}}</td>
                    {% for each in results|slice:":1" %}
                        <td>{{ each.first }}</td>
                        <td>{{ each.second }}</td>
                    {% endfor %}
                </tr>
                {% for each in results|slice:"1:" %}
                    <tr style="background-color: {{ color }};">
                        <td></td>
                        <td>{{ each.first }}</td>
                        <td>{{ each.second }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
		{% endfor %}
        </tbody>
	</table>
{% endif %}


{% endblock %}