{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <form id="generate-link">
        <div>
            <label>Key 1</label>
            <input autocomplete="off" type="text" id="pk1" value="{% if pk1 %}{{ pk1 }}{% endif %}" />
        </div>

        <div>
            <label>Key 2</label>
            <input autocomplete="off" type="text" id="pk2" value="{% if pk2 %}{{ pk2 }}{% endif %}" />
        </div>
        <div>
            <button type="submit">Generate link</button>
        </div>
    </form>

    <div id="link" style="visibility: hidden;">
        <h3>Link to results</h3>
        <a href="#">#</a>
    </div>

    <script>
        function generateLink() {
            var pk1 = $("#pk1").val();
            var pk2 = $("#pk2").val();

            if (pk1 == null && pk2 == null) {
                return;
            }

            var url = "/compare";
            if (pk1) {
                url += "/" + encodeURIComponent(pk1);
            }
            if (pk2) {
                url += "/" + encodeURIComponent(pk2);
            }

            $("#link").css('visibility', 'visible');
            $("#link a").attr('href', url);
            $("#link a").text(url);
        }

        $(document).ready(function() {
            generateLink();
            $("#generate-link").submit(function(e) {
                generateLink();
                e.preventDefault();
            });
        });
    </script>


{% endblock %}