{% extends 'base.html' %}

{% load i18n %}

{% block content %}


    <div class="inline-block-center mainrow">
        <a href="answer.html" class="button answer">Answer as Male</a>
        <a href="answer.html" class="button answer">Answer as Female</a>
    </div>

    <div class="flex-center">
        <a href="{% url "compare" %}" class="button compare frontcompare">{% trans "Compare your results" %}</a>
    </div>


    <main class="inline-block-center mainrow">
        <a href="{% url "answer" gender="male" %}" class="button answer">{% trans "Answer as Male" %}</a>
        <a href="{% url "answer" gender="female" %}" class="button answer">{% trans "Answer as Female" %}</a>
    </main>
    <main class="flex-center">
        <a href="{% url "compare" %}" class="button compare">{% trans "Compare your results" %}</a>
    </main>
{% endblock %}